#section-hero { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./yukako_lg_hero.JPG');
    position: relative; 
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.carousel-container {
    margin-top: 1rem;
    height: 800px;
}

@media only screen and (max-width:800px){
    div {overflow-x: hidden;}
    body {overflow-x: hidden;}
    .carousel-container {
        margin-top: 1rem;
        height: 500px;
    }
}


@media only screen and (max-width:1200px){
    .carousel-container {
        margin-top: 1rem;
        height: 650px;
    }

    #section-hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./yukako_sm_hero.JPG');
        position: relative; 
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-attachment: scroll;
    }
}
